<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "Rory McIlroy Data Visualization" %></title>
    <meta name="google-site-verification" content="VnHgMjgi9aFxE9FZY1JUYDxEfu5D2euIbHOxx4LfMkg" />
    <meta name="description" content="An infographic form WormBurner, a new stats and scoring app for golfers.">
    <meta name="keywords" content="golf, scorecard, scoring, statistics, visualization, app, golfers, golfing, course, tee times, data, Rory McIlroy, WormBurner, infographic">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="sitewidth"></div> 
      <%= render 'layouts/header' %>
    <div class="maincontainer">
      <div id="main" role="main">
        <div class="container">
          <div class="row">
            
            <div class="span10 offset1">
            	<%= render 'layouts/messages' %>
				<h1>Rory McIlroy:<br>From Congressional to Whistling Straits</h1>
				<div class="homeblurb">A data visualization of every hole Rory McIlroy has played since his first major win in 2011.</div>

				<div class="rorygraphicartcontain">
					<div class="rorygraphicart"><a href="https://s3.amazonaws.com/pzgolfpals/graphics/RoryMcIlroy_2015PGA.gif"><%= image_tag("RoryMcIlroy_2015PGA.gif", alt: "Rory McIlroy", class:'img-responsive') %></a></div>
				</div>

			</div>

			<div class="span8 offset2">
				<h2>Want a downloadable poster with a visualization of YOUR scores and stats? Get the WormBurner App!</h2>
			</div>

			<div class="span10 offset1">
			    <div class="homeblurb">WormBurner is the new ultimate scoring and statistics app for golfers. Analyze your game with detailed infographics and get discounts on tee times. You can also create a free downloadable poster with a data visualization of your game!</div>
			    <div class="maincta"><a href="https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8"><div class="btn-ios"></div></a></div>
			    <div class="maincta"><%= link_to "Download for iPhone", "https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8", class: "btn btn-large btn-primary" %></div> 
			    <br /><br />
			    <div class="phoneart"><%= image_tag("wormburner_sitepromo.png", alt: "WormBurner", class:'img-responsive') %></div>
			    <div class="posterartcontain"><div class="posterart"><%= image_tag("wormburner_poster.jpg", alt: "WormBurner", class:'img-responsive') %></div></div>
			    <div class="maincta"><a href="https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8"><div class="btn-ios"></div></a></div>
			    <div class="maincta"><%= link_to "Download for iPhone", "https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8", class: "btn btn-large btn-primary" %></div> 
			</div> 

          </div>
        </div> 
      </div> 
    </div>
    <div class="footercontainer">
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <footer class="footer">
              <div id="footerright">
                &copy; <%= copyright_notice_year %> WormBurner. All Rights Reserved.  
              </div>
              <div id="footerleft">
                <a href="/contact">Contact us</a> anytime with questions or comments.
              </div>
            </footer>
          </div> 
        </div> 
      </div> 
    </div>
  </body>
</html>
