<% provide(:title, '') %>
<% if signed_in? %>
    
  <%-# Profile Info -%>
  <div class="span6 offset3">
    <h2><%= @user.name %></h2>

    <%= render 'layouts/messages' %>

    <div class="profile">
      <div class="profilephoto">
        <%= image_tag @user.photo.url(:small) %>
      </div>
    </div>
    <br />
    <div class="profile">
      <ul>
        <li><%= link_to 'Update My Profile', edit_user_registration_path %></li>
      </ul>
    </div>
  </div>

<% else %>

  <%-# Home page -%>
  <div class="span10 offset1">
    <%= render 'layouts/messages' %>
    <div id="homeblurb">WormBurner is the new ultimate scoring and stats app for golfers. Analyze your game with detailed stats and get discounts on tee times. You can also create a free downloadable poster with a data visualization of your game!</div>
    <div class="maincta"><%= link_to "Download for iPhone", "#", class: "btn btn-large btn-primary" %></div> 
    <div class="phoneart"></div>
    
  </div> 
<% end %>