<% provide(:title, '') %>
<% if signed_in? %>
    
  <div class="span10 offset1">
    <%= render 'layouts/messages' %>
    <div class="maincta"><%= link_to "Open App on iPhone", "WormBurner://", class: "btn btn-large btn-primary" %></div> 
  </div> 
<% else %>

  <%-# Home page -%>
  <div class="span10 offset1">
    <div class="homeblurb">
    <%= render 'layouts/messages' %>
    WormBurner is the new ultimate scoring and stats app for golfers. Analyze your game with detailed stats and get discounts on tee times. You can also create a free downloadable poster with a data visualization of your game!
    </div>
    <div class="maincta"><a href="https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8"><div class="btn-ios"></div></a></div>
    <div class="maincta"><%= link_to "Download for iPhone", "https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8", class: "btn btn-large btn-primary" %></div> 
    <br /><br />
    <div class="phoneart"><%= image_tag("wormburner_sitepromo.png", alt: "WormBurner", class:'img-responsive') %></div>
    <div class="posterartcontain"><div class="posterart"><%= image_tag("wormburner_poster.jpg", alt: "WormBurner", class:'img-responsive') %></div></div>
    <div class="maincta"><a href="https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8"><div class="btn-ios"></div></a></div>
    <div class="maincta"><%= link_to "Download for iPhone", "https://itunes.apple.com/us/app/wormburner-golf-scorecard/id1013043962?ls=1&mt=8", class: "btn btn-large btn-primary" %></div> 
  </div> 
<% end %>