<div class="span6 offset3">
<h2>Contact Us</h2>

<%= render 'layouts/messages' %>

<%= form_for @message, :url => contact_path do |f| %>
  
  <%= f.hidden_field :subject, :value => "GolfPals Contact Form" %>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
  
  <div><%= f.label :body, "Message"  %>
  <%= f.text_area :body %></div>

  <br />
  <div><%= f.submit "Submit", :class => 'btn btn-large btn-primary' %></div>

<% end %>

</div>