<div class="span10 offset1">

<div id="homeblurb">

<h2>Contact Us</h2>

<div id="formholder">

<%= render 'layouts/messages' %>

<%= form_for @message, :url => contact_path do |f| %>
  
  <%= f.hidden_field :subject, :value => "WormBurner Contact Form" %>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>
  
  <div><%= f.label :body, "Message"  %>
  <%= f.text_area :body %></div>

  <br />
  <div><%= f.submit "Submit", :class => 'btn btn-large btn-primary' %></div>

<% end %>

</div>
</div>
</div>